<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Utenti - Amministrazione</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
    <link rel="icon" type="image/png" th:href="@{/images/cross.png}">


</head>

<body>

    <header th:replace="~{fragments/riquadroAltissimo :: riquadroAltissimo}"></header>

    <main>

        <section class="fascia-titolo">
            <div class="fascia-titolo-contenuto">
                <h1>Utenti</h1>
            </div>
        </section>

        <section class="sezione">
            <div class="container">

                <div class="tabella-riquadro">

                    <table class="tabella">

                        <thead>
                            <tr>
                                <th>Cognome</th>
                                <th>Nome</th>
                                <th>Data di Nascita</th>
                                <th>Azioni</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr th:each="utente : ${utenti}">

                                <td th:text="${utente.cognome}">
                                    Cognome
                                </td>

                                <td th:text="${utente.nome}">
                                    Nome
                                </td>

                                <td th:text="${utente.dataNascita}">
                                    Data
                                </td>

                                <td>

                                    <form th:action="@{/admin/utenti/{id}/cancella(id=${utente.id})}" method="POST">

                                        <button type="submit" class="btn btn-piccolo btn-pericolo">
                                            Cancella
                                        </button>

                                    </form>

                                </td>

                            </tr>

                            <tr th:if="${#lists.isEmpty(utenti)}">
                                <td colspan="4" class="tabella-vuota">
                                    Nessun utente registrato.
                                </td>
                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>
        </section>

    </main>

</body>

</html>